@mixin display($justify:center, $align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin fundamental($color){
    width: 100%;
    padding: 70px 0px;
    background-color: $color;
}